
/* body {
  margin: 0 auto;
  padding: 0;
  background-image: linear-gradient(to top, #4ecdc4, #49c9c0, #45c4bb, #40c0b7, #3bbcb3);
  background-attachment: fixed;
  
}

button {
  color: black;
  text-align: center;
  font-size: 1.4rem;
  background-color: #FF6B6B;
  border-radius: 5px;
  border: none;
} */


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


